@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
  background-image: url("https://wallpapers.com/images/hd/nintendo-super-mario-landscape-tgb1s0mi127da2hb.jpg");
  /* background-size: cover; */
  background-attachment: fixed;
}

#welcomeImage {
  margin-top: 1rem;
  border-radius: 2rem;
  border: solid rgba(255, 0, 0, 0.774) 7px;
}

.profileWallpaper {
  /* background-image: url("https://wallpaperaccess.com/full/1544628.jpg") */
  color: rgba(255, 0, 0, 0.774);
}

.copy-btn {
  border: solid red 7px;
}

.nav-links {
  width: 200%;
}
